
                body {
                        padding: 20px;
                        background-color: black;
                        width: 400px;
                        height: 400px;
                        position: relative;
                        left: 50%;
                        margin-left: -50px;
                        background-image: url('back.gif');
                }

                #gameTable {
                        width: 300px;
                        background-color: transparent;

                }

                label {
                        color: white;
                        background-color: crimson;
                        font-size: 20pt;
                }

                button {
                        width: 85%;
                        height: 85%;
                        color: cornsilk;
                        max-width: 200px;
                        font-weight: bolder;
                        font-size: 30pt;

                }

                #resetButton {
                        color: red;
                        font-size: 20pt;
                        height: 100;
                        margin-left: 50;
                }
